@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@500&display=swap');

*{
    padding: 0;
    margin: 0;
    font-family: 'Open Sans', sans-serif;
}

body{
    background: #D8DCE8 url('img/fundo.jpg') repeat-x;
    width: 100%;
}
.container{
    width: 100%;
}

header{
    display: flex;
    padding-top: 10px;
    justify-content: space-around;
}
header nav{
    padding-top: 15px;
}
header nav a{
    text-decoration: none;
    color: black;
    margin-right: 20px;
}
header nav a:hover{
    text-decoration: underline;
}
.menu-icon{
    float: right;
}


main{
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-top: 15%;
}
#description{
    flex-basis: 35%;
    position: relative;
    margin-left: 100px;
}
#description h2{
    font-size: 45px;
}
#description h3{
    padding-bottom: 20px;
}
#description h4{
    font-size: 25px;
}
#description p{
    font-size: 20px;
}
#description button{
    background: linear-gradient(to right, #fb5283, #ff3527);
    margin-top: 15px;
    width: 140px;
    border: 0;
    padding: 8px 12px;
    color: white;
    outline: none;
    font-size: 20px;
    border-radius: 6px;
    cursor: pointer;
    transition: width 0.5s;
}
#description button img{
    display: none;
}
#description button:hover img{
    display: block;
}
#description button:hover{
    width: 200px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}


#right{
    top: 25%;
    width: 1200px;
}
#controller{
    display: flex;
    position: absolute;
    float: left;
    z-index: 2;
    margin-top: 20px;
    padding-right: 90px;
}

#gradient{
    position: relative;
    right: 0;
    width: 800px;
    background: linear-gradient(to right, #fb5283, #ff3527);
    border-radius: 10px 0px 0px 10px;
    height: 450px;
    transform: translateX(367px);
    z-index: 1;
}

footer{
    display: flex;
    justify-content: center;

    transform: translateY(130px);
}
footer button{
    margin-left: 40px;
    background-color: #D8DCE8;
    border: none;
}

@media only screen and (max-width: 700px){
    nav{
        display: block;
    }
    nav ul{
        width: 100%;
        background: linear-gradient(to left, #00d6d6, #33ff00);;
    }
    nav ul{
        position: absolute;
        display: block;
        margin-top: 10px;
        margin-bottom: 10px;
    }
    nav ul a{
        color: white;
    }
    .menu-icon{
        display: block;
    }
    #menulist{
        overflow: hidden;
        transition: 0.5s;
    }

    main{
        flex-direction: column-reverse;
    }

    #right{
        flex-basis: 100%;
        margin-bottom: 50px;
    }
    #controller{
        width: 80%;
        margin-left: 400px;
    }
    #gradient{
        width: 450px;
        transform: translateX(550px);
    }
    #description{
        flex-basis: 100%;
        margin-right: 50px;
    }
    #description h2{
        font-size: 35px;
    }
    #description h3{
        font-size: 15px;
    }
}