@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@500&display=swap');

*{
    padding: 0;
    margin: 0;
    font-family: 'Open Sans', sans-serif;
}

body{
    background: #D8DCE8 url('img/fundo.jpg') repeat-x;
    width: 100%;
}
.container{
    width: 100%;
}

header{
    display: flex;
    padding-top: 10px;
    justify-content: space-around;
}
header nav{
    padding-top: 15px;
}
header nav a{
    text-decoration: none;
    color: black;
    margin-right: 20px;
}
header nav a:hover{
    text-decoration: underline;
}


main{
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-top: 15%;
}
#description{
    flex-basis: 35%;
    position: relative;
    margin-left: 100px;
}
#description h2{
    font-size: 45px;
}
#description h3{
    padding-bottom: 20px;
}
#description h4{
    font-size: 25px;
}
#description p{
    font-size: 20px;
}
#description button{
    background: linear-gradient(to right, #fb5283, #ff3527);
    margin-top: 15px;
    width: 140px;
    border: 0;
    padding: 8px 12px;
    color: white;
    outline: none;
    font-size: 20px;
    border-radius: 6px;
    cursor: pointer;
    transition: width 0.5s;
}
#description button img{
    display: none;
}
#description button:hover img{
    display: block;
}
#description button:hover{
    width: 200px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}


#right{
    top: 25%;
    width: 900px;
}
#controller{
    display: flex;
    position: absolute;
    z-index: 1;
    margin-top: 20px;
}

#gradient{
    background: linear-gradient(to right, #fb5283, #ff3527);
    border-radius: 10px 0px 0px 10px;
    width: 700px; 
    height: 450px;
    transform: translateX(287px);
    z-index: 1;
}

footer{
    display: flex;
    justify-content: center;
    
    transform: translateY(130px);
}
footer button{
    margin-left: 20px;
    background-color: #D8DCE8;
    border: none;
}