@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@500&display=swap');

*{
    padding: 0;
    margin: 0;
    font-family: 'Open Sans', sans-serif;
}

body{
    background: #D8DCE8 url('img/fundo.jpg') repeat-x;
}

header{
    background-color: white;
    width: 85%;  
    margin: auto;
}
header img{
    float: left;
}
header nav{
    float: right;
    padding: 30px 0px;
    align-items: center;
}   
header nav a{
    color: black;
    text-decoration: none;
    padding-right: 15px;
}
header ul a:hover{
    text-decoration: underline;
}


/*Main*/
main{
    clear: both;
    width: ;
}
#control{
    display: flex;
    align-items: right;
}


#right{
    float: right;
    bottom: 50%;
}

#right-grad{
    position: relative;
    bottom: 200px;
    height: 350px;
    width: 120%;
    content: '';
    background: linear-gradient(to right, #ff54a2, #ff575a);
}